@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/mistoni');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



/* NAVIGATION BAR CODE START */
header{
    background-color: wheat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 4%;
    height: 10vh;
}

#logo {
    /* font */
    margin-top: 5%;
    font-size: 50px;
    margin-left: 0px;
    font-family: 'Mistoni', sans-serif;
}

#menu {
    width: 260px;
}

.menu-buttons{
    color: black;
    margin: 4%;
}

.menu-buttons:hover{
    color: #FAFFD8;
}
/* NAVIGATION BAR CODE END */

/* FOOTER CODE START */
footer {
    height: 12vh;
    background-color: darkslategray;
    display: flex;
    flex-direction: row;
    color: wheat;
    align-items: center;
    justify-content: center;
    /* padding-top: 8px; */
}

.contact-logos {
    width: 5vh;
    margin: 20px;
}
/* FOOTER CODE END */





main {
    min-height: 90vh;
    background-color: #09101c;
    display: flex;
    flex-direction: column;
    padding: 4vw;
}





#page-title {
    color: white;
    font-size: 60px;
    margin-bottom: 4vw;
}

#page-descr {
    color: #a7b5ad;
    font-size: 20px;
}


#projects {
    padding: 4vw;
    padding-top: 0;
}




article {
    background-color: #13213b;
    margin: 6vw;
    padding: 2vw;
    border-radius: 25px;
    /* display: flex;
    flex-direction: column; */
}

.job-title {
    color: white;
    font-size: 40px;
}

.job-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.job-logos {
    width: 4vh;
    margin: 20px;
    margin-right: 0px;
}

.job-image {
    max-width: 240px;
    max-height: 240px;
    object-fit: cover;
    border-radius: 5%;
    display: flex;
    justify-content: right;
}

.date {
    color: #a7b5ad;
    font-size: 15px;
    margin-bottom: 10px;
}

.location {
    color: #a7b5ad;
    font-size: 15px;
}

.descr {
    color: white;
    font-size: 20px;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.caption {
    color: #a7b5ad;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}

#slideshow {
    align-items: flex-end;
    margin-right: 20px;
}

#slide-container {
    align-items: center;
}

.drawing {
    width: 200px;
    border-radius: 10%;
}

/* .tag {

} */